::-moz-selection {
	background: #FF4545;
	color: #fff;
}
::selection {
	background: #FF4545;
	color: #fff;
}
.divnav {
	background-color: #1bb8c6;
	box-shadow: 0px 10px 30px 0.5px #4B4B4B;
}
.navopciones:hover {
	background: #15A8B5;
	border-radius: 7px;
}
.slider {
	background: url('imagenes/fondo_principal.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.fondotitulo {
	background-color: rgba(255,255,255,0.7);
	width: 500px;
}
.fondotitulo {
	animation: inicio 1.5s 0.5s ease-in-out;
	-webkit-animation: inicio 1.5s 0.5s ease-in-out;
}
/*.fondotitulo {
	animation: fadeIn;
	-webkit-animation: fadeIn;	

	animation-duration: 1.5s;	
	-webkit-animation-duration: 1.5s;

	animation-timing-function: ease-in-out;	
	-webkit-animation-timing-function: ease-in-out;		

	visibility: visible !important;	
}*/

@keyframes inicio {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.2);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
.firsttitle {
	font-size: 30px;
	font-family: Coming soon;
}
.maintitle {
	font-family: Crafty girls;
	font-size: 80px;
}
.secondtitle {
	font-size: 30px;
	font-family: Coming soon;
}
.welcomediv {
	font-size: 30px;
	color: #3a73a9;
	line-height: 25px;
	font-weight: lighter;
}
.divsection2, .divsection4, .footer {
	background-color: #1bb8c6;
}
.principal {
	border-radius: px;
}
.icon:hover {
	background: #15A8B5;
	border-radius: 20px;
}
.animado {
	opacity: 0;
	transition: all 0.5s;
}
.animacion {
	animation: animacion 1s;
}

@keyframes animacion{
	0% {
		transform: translateX(62%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.animado2 {
	opacity: 0;
	transition: all 0.5s;
}
.animacion2 {
	animation: animacion2 1s;
}

@keyframes animacion2{
	0% {
		transform: translateX(-62%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}