::-moz-selection {
	background: #FF4545;
	color: #fff;
}
::selection {
	background: #FF4545;
	color: #fff;
}
.divnav {
	background-color: #1bb8c6;
	transition: all 0.3s;
}
.shadowNav {
	box-shadow: 0px 10px 30px 0.5px #4B4B4B;
}
.navopciones:hover {
	background: #15A8B5;
	border-radius: 7px;
}
.slider {
	background: url('imagenes/fondo_principal.jpg');
	height: 100vh;
	background-position: center;
	background-size: cover;
}
.fondotitulo {
	background: linear-gradient(
		to right bottom,
		rgba(255,255,255,0.7),
		rgba(255,255,255,0.3)
	);
	width: 500px;
}
.fondotitulo {
	animation: inicio 1.5s 0.5s ease-in-out;
	-webkit-animation: inicio 1.5s 0.5s ease-in-out;
}

@keyframes inicio {
	0% {
		transform: scale(0);
		opacity: 0.0;		
	}
	60% {
		transform: scale(1.2);	
	}
	80% {
		transform: scale(0.9);
		opacity: 1;	
	}	
	100% {
		transform: scale(1);
		opacity: 1;	
	}		
}
.firsttitle {
	font-size: 30px;
	font-family: Coming soon;
}
.maintitle {
	font-family: Crafty girls;
	font-size: 80px;
}
.secondtitle {
	font-size: 30px;
	font-family: Coming soon;
}
.welcomediv {
	font-size: 30px;
	color: #3a73a9;
	line-height: 25px;
	font-weight: lighter;
}
.divsection2, .divsection4, .footer {
	background-color: #1bb8c6;
}
.principal {
	border-radius: px;
}
.icon:hover {
	background: #15A8B5;
	border-radius: 20px;
}
.animado {
	opacity: 0;
	transition: all 0.3s;
}
.animacion {
	animation: animacion 1s;
}

@keyframes animacion{
	0% {
		transform: translateX(62%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
.animado2 {
	opacity: 0;
	transition: all 0.3s;
}
.animacion2 {
	animation: animacion2 1s;
}

@keyframes animacion2{
	0% {
		transform: translateX(-62%);
		opacity: 0;
	}
	100% {
		transform: translateX(0);
		opacity: 1;
	}
}
/*.galeria2 {
	opacity: 0 !important;
	transition: all 0.3s;
}
.galeriaslip {
	animation: galeriaslip 1s;
}

@keyframes galeriaslip {
	0% {
		transform: translateY(62%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}*/
#galeria .col-lg-4, .col-lg-8 {
	margin: 0 !important;
	padding: 25px;
	border: 0;
}
#galeria img {
	width: 100%;
	height: 100%;
	border-radius: 5px;
}
#galeria img:hover {
	border: 6px solid #1bb8c6;
}
.member1 {
	opacity: 0;
	transition: all 0.3s;
}
.slip1 {
	animation: slip1 1s;
}

@keyframes slip1{
	0% {
		transform: translateY(62%);
		animation-delay: 0s;
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.member2 {
	opacity: 0;
	transition: all 0.3s;
}

.slip2 {
	animation: slip2 1s;
}

@keyframes slip2{
	0% {
		transform: translateY(62%);
		animation-delay: 0.4s;
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.member3 {
	opacity: 0;
	transition: all 0.3s;
}

.slip3 {
	animation: slip3 1s;
}

@keyframes slip3{
	0% {
		transform: translateY(62%);
		animation-delay: 0.8s;
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.member4 {
	opacity: 0;
	transition: all 0.3s;
}

.slip4 {
	animation: slip4 1s;
}

@keyframes slip4{
	0% {
		transform: translateY(62%);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
